<div class="panel panel-warning" style="width:30%">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

      <div class="panel-heading">
        <h2>Sign up</h2>
      </div>

      <div class="panel-body">

        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :name %><br/>
          <%= f.text_field :name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation %><br/>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
        </div>
      </div>

      <div class="panel-footer">
        <div class="actions">
          <%= f.submit "Sign up", class: 'btn btn-warning' %>
        </div>
      </div>
  <% end %>

</div>
<%= render "devise/shared/links" %>
