<table class="table table-striped table-wd">
  <thead>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <th scope="row">Type</th>
      <th scope="row">Price</th>
      <th scope="row">Quantity</th>
      <th scope="row">Total Price of Product</th>
    </tr>
    <% total = []%>
    <% products.each do |k, v|%>
     <% product = products[k].first %>
     <% quantity = products[k].count  %>
     <% total_item_price =total_price_product(product, quantity)%>
      <% total << total_item_price %>
      <tr>
        <td><%= product.name%></td>
        <td><%= product.item_type%></td>
        <td><%= product.price%></td>
        <td><%= quantity %></td>
        <td><%= total_item_price %></td>
      </tr>
    <%end%>

  </tbody>
    <tfoot>
    <tr>
      <td scope="row"></td>
      <td scope="row"></td>
      <td scope="row"></td>
      <td scope="row"></td>
      <td><%= total.sum %></td>
    </tr>
  </tfoot>
</table>