<div class="panel panel-warning" style="width:30%">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="panel-heading">
        <h2>Log in</h2>
      </div>

      <div class="panel-body">

        <div class="field">
          <%= f.label :email %><br/>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label :password %><br/>
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? -%>
            <div class="field">
              <%= f.check_box :remember_me%>
              <%= f.label :remember_me %>
            </div>
        <% end %>
      </div>

      <div class="panel-footer">

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-warning' %>
        </div>
      </div>
  <% end %>
</div>

<%= render "devise/shared/links" %>
