  <table class="table table-striped table-wd">
    <thead>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Name</th>
        <th scope="row">Type</th>
        <th scope="row">Price</th>
        <th scope="row">Brand Name</th>
        <th scope="row">Add Item</th>
      </tr>
      <% products.each do |product|%>
        <tr>
          <td><%= product.name%></td>
          <td><%= product.item_type%></td>
          <td><%= product.price%></td>
          <td><%= product.try(:brand_name)%></td>
          <td><%= link_to "Add to cart", shopping_carts_path(product_id: product.id), method: :post %></td>
        </tr>
      <%end%>

    </tbody>
  </table>