<%= form_tag products_path, class: "form-horizontal", method: :get do %>
  <div class="input-group mb-3 col-md-8">
    <%= text_field_tag :search_term ,'', class: 'form-control' %>
    <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
  </div>
<%end%>