<% if current_user.present? && current_user.role.name == "Admin" %>
    <%= button_to "Add Product", new_product_path, method: :get, class: 'btn btn-outline-secondary pull-right' %>
<% end %>
<%= render 'search' %>

<br/>
<!-- Table -->
<% if @products.present? %>
    <%= render 'listing', products: @products %>
<% else %>
    <div class="panel panel-default">
      <div class="panel-body">No Products Found</div>
    </div>
<% end %>
