<%= form_for @product do |f|%>
  <div class="row">
    <div class="form-group col-md-6 ">
      <%= f.label :name, 'Product Name' %>
      <%=f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :item_type, 'Product Category' %>
      <%=f.text_field :item_type, class: 'form-control' %>
    </div>
  </div>

    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :brand_name, 'Brand Name' %>
        <%=f.text_field :brand_name, class: 'form-control' %>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6">
        <%= f.label :serial_number, 'Product Serial Number' %>
        <%=f.text_field :serial_number, class: 'form-control' %>
      </div>
    </div>


    <div class="row">
    <div class="form-group col-md-6">
      <%= f.label :price, 'Price' %>
      <%=f.text_field :price, class: 'form-control' %>
    </div>
  </div>
  <%= submit_tag "Create", class: 'btn btn-primary'%>
<%end%>