<!DOCTYPE html>
<html>
<head>
  <title>Music</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><%=link_to "Home", root_path %></li>
  <li role="presentation"><%=link_to "Carts", shopping_carts_path %></li>
  <% if user_signed_in? %>
      <li class='pull-right' role="presentation"><%=link_to "Logout", destroy_user_session_path %></li>
  <% else %>
      <li class='pull-right' role="presentation"><%=link_to "Login", new_user_session_path %></li>
      <li class='pull-right' role="presentation"><%=link_to "Sign Up", new_user_registration_path %></li>
<% end %>
</ul>
<div class="container" style="margin-top: 20px">
  <!-- Content here -->
  <% flash.each do |type, msg|%>
    <div class="alert <%= css_class_for(type) %> fade in alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">x</button>
      <%= msg.to_s.html_safe %>
    </div>
  <% end %>
  <%= yield %>

</div>

</body>
</html>
